/* CSS declarations go here */
.projectorscreen {
    height: 100%;
    margin-top: 20%;
}
.projectorscreen header {
    margin-bottom: 10%;
}
.projectorscreen h1 {
    text-align: center;
}
.projectorscreen .player {
    display: inline-block;
    width: 25ex;
}
.awnser-row{
    margin-bottom: 1em;
}

.bgthing{
    background-image: url('/intro-bg.jpg');
    background-size: 100%;
}

.bgthing h1 small{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}